.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.line {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 2px;
    background-color: black;
}
.left-column {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
.main-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-link {
    text-decoration: none;
    color: black;
}
.right-column {
    display: flex;
    flex-direction: column;
    width: 35%;
    text-transform: uppercase;
    font-size: 0.8em;
}
.sign-in {
    width: 100%;
    display: flex;
    justify-content: right;
    line-height: 1.5em;
}
.nav-link-right {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0 10px;
}

.search-row {
    display: flex;
    /* justify-content: center; */
    margin-top: 10px;
    position: relative;
}
/* .search-row::after {
    font-family: FontAwesome;
    content: '\f002';
    position: absolute;
    left: 0.4em;
    top: 0.2em;
} */
.fontawesome {
    align-items: center;
    display: flex;
    font-size: 1.1rem;
    /* margin-top: 5px; */
}
.search-icons {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}
.search-bar,
.search-bar:focus {
    padding-left: 1.4em;
    width: 60%;
}
